<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="Library_Information_SystemEntities" connectionString="metadata=res://*/DBmodel.csdl|res://*/DBmodel.ssdl|res://*/DBmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCP-079;initial catalog=Library_Information_System;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>